a.list-group-item.list-group-item-action{
    max-width: 700px;
    display: flex;
    padding-top: 20px;
    margin: auto;
}
.content-main{
    max-width: 500px;
    min-width: 300px;
    padding-top: 80px;
    margin: auto;
}

.list-group-students {
    padding-top: 80px;
}

.label-template{
    width: inherit;
}

.close-button{
    position : relative;
    margin-left: 80%;
    margin-right: 20%;
    text-align: center;
}

